# Adjust the usernames to your maintainers.
/data/camera/       @joshuawinkler
/data/lighting/     @joshuawinkler
/data/grip/         @joshuawinkler
/data/sound/        @joshuawinkler
/data/miscellaneous/ @joshuawinkler
/data/schemas/      @joshuawinkler
